@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

body{
  background-image:
    linear-gradient(
      to right,
      azure, lightcyan
    );
  margin:0;
  padding:0;
}

.alert {
  color: red;
}

.App {
  font-family: "Amatic SC", cursive;
  font-family: "IBM Plex Mono", monospace;
  font-family: "Muli", serif;
  text-align: center;
}

.App-header {
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-size: 2em;
  padding-top: 2rem;
  width: 100%;
}

.App-title {
  font-size: 2em;
  margin-top: 0.25em;
  margin-bottom: 0.5rem;
}

.button {
  background-color: steelblue;
  border: 1px solid transparent;
  border-color: steelblue;
  border-radius: .25rem;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 0 2em 0;
  padding: .375rem .75rem;
  text-align: center;
  user-select: none;
  vertical-align: middle;
  -webkit-user-select: none;
}

.course-table-registered {
  font-size: small;
}

h1 {
  margin-top:0;
}

h3{
  margin:auto;
  margin-left: 10px;
}

.ReactTable .-pagination {
  margin: 3px 10px;
  position: absolute;
  visibility: hidden;
}

.registered {
  color: teal;
}

.registration-form__availability {
  font-style: italic;
  padding: 1em 1em 2em 1em;
}

.searchbox-container {
  padding-bottom: 2rem;
  padding-top: 3rem;
}

select {
  border-color: black;
  border-width: 2px;
  font-size: 0.5em;
  height: 2.25rem;
}

.select-button{
  font-family: "Amatic SC", cursive;
  font-family: "IBM Plex Mono", monospace;
  font-family: "Cinzel", serif;
  font-size: 1em;
  height: 2em;
  width: 16em;
}

.single-course {
  margin: auto;
  text-align: left;
}

.single-course__name {
  background-color: lightseagreen;
  color: white;
  font-size: x-large;
  margin: 0.5em 0;
  padding: 1em 0;
  text-align: left;
}

.table-heading {
  background-color: lightseagreen;
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
